# Python basics

## Basic operators & math

Befre starting, you can input comments using `#`

In [1]:
# some comments here
34 # this is a number

34

Simple expressions results in a value. As in the following arithmetic operations:

In [6]:
1+1+34

36

In [3]:
3*4.5

13.5

In [4]:
2-3.5

-1.5

In [5]:
10/3

3.3333333333333335

Other mathematical operatos include the int divison `//`, modulo `%` or power `**`

In [7]:
10 // 3

3

In [8]:
10 % 3

1

In [9]:
3**2

9

In [10]:
( 3 - 4 ) * 5

-5

This special keyword `_` represents the last value.

In [11]:
3 - _

8

## Basic datatypes
**Variables: Strings, Int, Float, Boolean**

Now that we know about values and expressions resulting in a value, we can reference them through variables.

In [12]:
a=1
b=2.4
a+b

3.4

**Strings**

With strings we can use single or double `'`. But with double ones we can use the character `'` itself within the string:

In [14]:
st='we like GIS'
print(st)

we like GIS

In [ ]:
st="we also like GIS"

st

In [15]:
st="I'd like to learn GIS"
st

"I'd like to learn GIS"

In any case we can escape characters using `\`

In [16]:
st="someone said: \"Hey\""
st

'someone said: "Hey"'

Multiline strings can also be handy to avoid long lines.

In [17]:
st="""\
   this
   message
   goes in
   multiple 
   lines
"""
st

'   this\n   message\n   goes in\n   multiple \n   lines\n'

In [18]:
print(st)

   this
   message
   goes in
   multiple
   lines

Different sorts of concatenation and repetition of strings are also possible.

In [19]:
st="this line" "followed by this other one"
st

'this linefollowed by this other one'

In [20]:
st="one string" + " the other"
st

'one string the other'

In [21]:
3 * "hey hey "

'hey hey hey hey hey hey '

In [ ]:
st = ("also in "
      "multiple lines")
st

We can access string characters by position. Or even get ranges of them using the `:` operator.

In [22]:
st="Martigny"
st[0]

'M'

In [23]:
st[2]

'r'

In [24]:
st[3:6]

'tig'

In [25]:
st[:3]

'Mar'

In [26]:
st[2:]

'rtigny'

Negative indexes start form the end of the string.

In [27]:
st[-1]

'y'

In [28]:
st[-4]

'i'

In [ ]:
b=st
print(b)

In [ ]:
print('This is number',a,'followed by this string:',b)

**Boolean**

Booleans are typically used in comparisons. Typical boolean operators `or` and `and` work as usual.

In [29]:
a==b

False

In [30]:
a==1

True

In [31]:
True or False

True

In [32]:
True and False

False

In [33]:
(a==1) and (a==2)

False

## Types

We can know the type of variables using the `type` function.

In [35]:
type(a)

int

In [36]:
type(st)

str

In [37]:
type(3.42)

float

In [38]:
type(a==2)

bool

**Import math**

We will see many cases of imported libraries and methods used form those libraries.

In [ ]:
import math
math.sqrt(81)

In [ ]:
math.pi

In [ ]:
math.sin(math.pi/2)