# Exercise

### 1. Read the data file

In [1]:
f = open ('../../data/03-11-2020.csv')

### 2. Print number of entries

In [2]:
header=f.readline() # exclude the header
lines = f.readlines()
f.close()

len(lines)

216

### 3. Print number of columns

In [3]:
line=lines[0].strip().split(',')  # I see the columns for the first line, assuming the others have the same... (in this case it's ok but not necessairly)
line

['Hubei',
 'China',
 '2020-03-11T10:53:02',
 '67773',
 '3046',
 '49134',
 '30.9756',
 '112.2707']

In [4]:
len(line)

8

### 4. How many countries?

In [6]:
data = [line.strip().split(',') for line in lines]  # first transform each line in separated list elements
data [:5]   # we look at the first 5 to see how they look like

[['Hubei',
  'China',
  '2020-03-11T10:53:02',
  '67773',
  '3046',
  '49134',
  '30.9756',
  '112.2707'],
 ['',
  'Italy',
  '2020-03-11T21:33:02',
  '12462',
  '827',
  '1045',
  '43.0000',
  '12.0000'],
 ['',
  'Iran',
  '2020-03-11T18:52:03',
  '9000',
  '354',
  '2959',
  '32.0000',
  '53.0000'],
 ['',
  'South Korea',
  '2020-03-11T21:13:18',
  '7755',
  '60',
  '288',
  '36.0000',
  '128.0000'],
 ['France',
  'France',
  '2020-03-11T22:53:03',
  '2281',
  '48',
  '12',
  '46.2276',
  '2.2137']]

In [7]:
countries=[]
for entry in data:
    if not entry[1] in countries:
        countries.append(entry[1])   # entry[1] is to get the country. we add it if is not there yet

In [8]:
print(countries)

['China', 'Italy', 'Iran', 'South Korea', 'France', 'Spain', 'Germany', 'Cruise Ship', 'Switzerland', 'Japan', 'Norway', 'Netherlands', 'Sweden', 'United Kingdom', 'Denmark', 'US', 'Belgium', 'Qatar', 'Austria', 'Bahrain', 'Singapore', 'Malaysia', 'Israel', 'Greece', 'Czechia', 'Iceland', 'United Arab Emirates', 'Kuwait', 'Iraq', 'Australia', 'India', 'San Marino', 'Lebanon', 'Egypt', 'Finland', 'Portugal', 'Thailand', 'Slovenia', 'Philippines', 'Taiwan*', 'Romania', 'Ireland', 'Canada', 'Brazil', 'Vietnam', 'Indonesia', 'Poland', 'Georgia', 'Chile', 'Saudi Arabia', 'Algeria', 'Russia', 'Argentina', 'Croatia', 'Pakistan', 'Oman', 'Ecuador', 'Estonia', 'Costa Rica', 'Hungary', 'South Africa', 'Albania', 'Serbia', 'Azerbaijan', 'Brunei', 'Peru', 'Latvia', 'Slovakia', 'Belarus', 'Colombia', 'Maldives', 'Mexico', 'Panama', 'Afghanistan', 'Bosnia and Herzegovina', 'Bulgaria', 'Luxembourg', 'North Macedonia', 'Tunisia', 'Cyprus', 'Malta', 'Dominican Republic', 'French Guiana', 'Morocco', 'New Zealand', 'Paraguay', 'Senegal', 'Bangladesh', 'Cambodia', 'Lithuania', 'Martinique', 'Moldova', 'Bolivia', 'Burkina Faso', 'Cameroon', 'Honduras', 'Nigeria', 'Sri Lanka', 'Andorra', 'Armenia', 'Bhutan', 'Congo (Kinshasa)', "Cote d'Ivoire", 'Holy See', 'Jamaica', 'Jordan', 'Liechtenstein', 'Monaco', 'Mongolia', 'Nepal', 'Reunion', 'Togo', 'Turkey', 'Ukraine', 'Mainland China', 'occupied Palestinian territory']

In [9]:
len(countries)

116

Another way to do it with comprehension lists

In [10]:
countries = set([entry[1] for entry in data])

In [11]:
len(countries)

116

### 5. Confirmed in Switzerland?

In [12]:
for entry in data:
        if entry[1] == 'Switzerland':
            print(entry[3])

652

This works because there is only one entry for Switzerland, if we do the same for China we would have to count by region. 

We can also do a for inline:

In [13]:
confirmed= (entry[3] for entry in data if entry[1] =='Switzerland')
int(next(confirmed))

652

### 6. Countries with more than 1000 infected

In [14]:
countries1000=[(entry[1],entry[0]) for entry in data if int(entry[3])>1000 ]

In [15]:
countries1000

[('China', 'Hubei'),
 ('Italy', ''),
 ('Iran', ''),
 ('South Korea', ''),
 ('France', 'France'),
 ('Spain', ''),
 ('Germany', ''),
 ('China', 'Guangdong'),
 ('China', 'Henan'),
 ('China', 'Zhejiang'),
 ('China', 'Hunan')]

This one is becoming pretty ugly already in one line, but just to give you an idea. And is anyway wrong, China is duplicated.

The trick here is that for some countries it is by region, so it would be better to group by country, aggregate total and give an answer

In [16]:
totalByCountry={}
for entry in data:
    cases=int(entry[3])
    if entry[1] in totalByCountry:
        totalByCountry[entry[1]]=totalByCountry[entry[1]]+cases
    else :
        totalByCountry[entry[1]]=cases

print(totalByCountry)

{'China': 80921, 'Italy': 12462, 'Iran': 9000, 'South Korea': 7755, 'France': 2284, 'Spain': 2277, 'Germany': 1908, 'Cruise Ship': 696, 'Switzerland': 652, 'Japan': 639, 'Norway': 598, 'Netherlands': 503, 'Sweden': 500, 'United Kingdom': 459, 'Denmark': 444, 'US': 1281, 'Belgium': 314, 'Qatar': 262, 'Austria': 246, 'Bahrain': 195, 'Singapore': 178, 'Malaysia': 149, 'Israel': 109, 'Greece': 99, 'Czechia': 91, 'Iceland': 85, 'United Arab Emirates': 74, 'Kuwait': 72, 'Iraq': 71, 'Australia': 128, 'India': 62, 'San Marino': 62, 'Lebanon': 61, 'Egypt': 60, 'Finland': 59, 'Portugal': 59, 'Thailand': 59, 'Slovenia': 57, 'Philippines': 49, 'Taiwan*': 48, 'Romania': 45, 'Ireland': 43, 'Canada': 108, 'Brazil': 38, 'Vietnam': 38, 'Indonesia': 34, 'Poland': 31, 'Georgia': 24, 'Chile': 23, 'Saudi Arabia': 21, 'Algeria': 20, 'Russia': 20, 'Argentina': 19, 'Croatia': 19, 'Pakistan': 19, 'Oman': 18, 'Ecuador': 17, 'Estonia': 16, 'Costa Rica': 13, 'Hungary': 13, 'South Africa': 13, 'Albania': 12, 'Serbia': 12, 'Azerbaijan': 11, 'Brunei': 11, 'Peru': 11, 'Latvia': 10, 'Slovakia': 10, 'Belarus': 9, 'Colombia': 9, 'Maldives': 8, 'Mexico': 8, 'Panama': 8, 'Afghanistan': 7, 'Bosnia and Herzegovina': 7, 'Bulgaria': 7, 'Luxembourg': 7, 'North Macedonia': 7, 'Tunisia': 7, 'Cyprus': 6, 'Malta': 6, 'Dominican Republic': 5, 'French Guiana': 5, 'Morocco': 5, 'New Zealand': 5, 'Paraguay': 5, 'Senegal': 4, 'Bangladesh': 3, 'Cambodia': 3, 'Lithuania': 3, 'Martinique': 3, 'Moldova': 3, 'Bolivia': 2, 'Burkina Faso': 2, 'Cameroon': 2, 'Honduras': 2, 'Nigeria': 2, 'Sri Lanka': 2, 'Andorra': 1, 'Armenia': 1, 'Bhutan': 1, 'Congo (Kinshasa)': 1, "Cote d'Ivoire": 1, 'Holy See': 1, 'Jamaica': 1, 'Jordan': 1, 'Liechtenstein': 1, 'Monaco': 1, 'Mongolia': 1, 'Nepal': 1, 'Reunion': 1, 'Togo': 1, 'Turkey': 1, 'Ukraine': 1, 'Mainland China': 0, 'occupied Palestinian territory': 0}

In [17]:
list(country for country in totalByCountry if totalByCountry[country]>1000)

['China', 'Italy', 'Iran', 'South Korea', 'France', 'Spain', 'Germany', 'US']